/* font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive; */
*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* Navigation area */
.navbar{
    background-color: royalblue;
    padding: 1% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
}
.nav-logo{
    display: flex;
    width: 35%;
    align-items: flex-end;
}
.nav-logo img{
    height: 100px;
    width: 100px;
}
.nav-logo h1{
    font-size: 2.5rem;
    color: #ffffff;
    padding: 0px 20px;
}
.navbar-menu{
    width: 60%;
    float: right;

}
.navbar-menu ul{
    list-style: none;
    display: flex;
    float: right;

}
.navbar-menu ul li{

}
.navbar-menu ul li a{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}
.navbar-menu ul li:hover{
    background-color: orangered;
    /* border: 1px solid green; */
    border-radius: 5px;

}

/* profile area */
.profile{
    padding: 5% 10% 0% 10%;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}
.details{
    width: 50%;
}
.basic-bio{
    /* display: inline-block; */
    
}
.basic-bio .greet{
    font-size: 2.8rem;
    font-family: 'Satisfy', cursive;
    font-weight: normal;

}
.basic-bio h2{
    font-size: 3.2rem;
}
.basic-bio h3{
    font-size: 2.2rem;
    font-weight: lighter;
}
.basic-bio h4{
    font-size: 1.2rem;
    font-weight: normal;
}
.logo-social{}
.logo-social img{
    height: 35px;
    width: 35px;
    padding: 8px 5px;
}
.logo-social a:hover{
    filter: invert(95%);
}
.profile-pic{}
.profile-pic img{
    width: 470px;
    height: 495px;
    /* border: 3px solid rgb(187, 187, 187);
    border-radius: 25%;     */
}
/* About section */
.about-section{
    display: flex;
    padding: 5% 15%;
    background-color: rgb(224, 246, 255);
}
.intro-logo{
    width: 30%;
}
.intro-logo img {
    width: 450px;
    height: 325px;
}
.my-intro{
    width: 40%;
    margin-left: 370px;
    border: 2px solid  gray;
    border-radius: 5px;
    padding: 35px;
    color: rgb(87, 105, 122);
    box-shadow: 2px 2px 5px #4285F4;
}
.my-intro h2{
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;

}
.my-intro p{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.3rem;
    text-align: justify;

}
.my-intro a{
    font-size: 1.3rem;
    text-decoration: none;
    padding: 7px 10px;
    background-color: tomato;
    border: 1px saddlebrown;
    border-radius: 5px;
    color: black;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 520;
}
.my-intro a:hover{
    color: white;
    /* background-color: rgb(218, 59, 32); */
}

/* service section */

.service{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4285F4;
}
.service-heading{
    margin-bottom: 3%;
}
.service-heading h1{
    font-size: 3.2rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.service-category{
    display: flex;
    align-items: center;
    /* align-content: center; */
}
.service-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    /* height: 350px; */
    background-color: white;
    margin: 2px 10px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px whitesmoke;
    /* clear: both; */
}
.service-details img{
    height: 110px;
    width: 110px;
    margin-bottom: 10px;
}
.service-details h3{
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: rgb(65, 62, 62);

}
.service-details p{
    font-size: 1rem;
    text-align: justify;
    color: rgb(83, 79, 79);
    clear: both;


}

/* SKILL SECTION */

.skill-container{
    background-color: #E0F6FF;
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skill-container h1{
    /* width: 200px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;


}
.skill-container ul{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.skill-container li{
    list-style: none;
    margin: 20px 0px;
    font-weight: bolder;
    position: relative;
    width: 100%;
    
}
.skill-container li::before{
    content: '';
    position:absolute;
    background-color: white;
    width: 100%;
    height: 20px;
    top: calc(100% + 5px);
    left: 0px;
    border-radius: 50px;
}

.skill-container li::after{
    content: '';
    position:absolute;
    background-color: rgb(255, 255, 255);
    width: 0px;
    height: 20px;
    top: calc(100% + 5px);
    left: 0px;
    border-radius: 50px;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-iteration-count: 3; */
    /* animation-direction: forward; */
    animation-fill-mode: forwards;
}
/* html */
.skill-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
        background-color: chocolate;
    }
}
/* css */
.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 65%;
        background-color: rebeccapurple;
    }
}
/* bootstrap */
.skill-container li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap{
    to{
        width: 60%;
        background-color: olive;
    }
}
/* js */
.skill-container li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 55%;
        background-color: royalblue;
    }
}
/* jquery */
.skill-container li.jquery::after{
    animation-name: jquery;
}
@keyframes jquery{
    to{
        width: 70%;
        background-color: slateblue;
    }
}
/* php */
.skill-container li.php::after{
    animation-name: php;
}
@keyframes php{
    to{
        width: 75%;
        background-color: seagreen;
    }
}
/* laravel */
.skill-container li.laravel::after{
    animation-name: laravel;
}
@keyframes laravel{
    to{
        width: 30%;
        background-color: red;
    }
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;

}
.foot-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.foot-top .options{
    width:20%;
}
.foot-top .options h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.foot-top .options h4{
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: 200;

}

.foot-top .options p{
    width: 100%;
    /* height: 400px; */
}
.foot-down{
    text-align: center;
    padding: 70px 0 20px 0;
    font-size: 1.5rem;
}
